.advantages-and-about {
  margin-bottom: 96px;
  background-image: url("../img/advantages-polygon-big.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.advantages {
  margin-bottom: 88px;
  overflow: hidden;
}

.advantages__inner {
  max-width: 1252px;
  position: relative;
  padding-top: 97px;
}

.advantages__imagewrapper {
  position: relative;
  max-width: 636px;
}

.advantages__polygon {
  position: absolute;
  top: 165px;
  left: 85%;
  transform: translateX(-50%);
  width: 636px;
  height: 636px;
}

.advantages__inner::before,
.advantages__inner::after {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 0;
  width: 298px;
  height: 298px;
}

.advantages__inner::before {
  content: "";
  left: -163px;
  top: 46px;
  background-image: url("../img/advantages-polygon.svg");
}

.advantages__inner::after {
  content: "";
  right: -274px;
  bottom: 24px;
  background-image: url("../img/advantages-polygon.svg");
  transform: rotate(180deg);
}

.advantages__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  justify-items: center;
  grid-gap: 30px;
  padding-left: 0;
  max-width: 1170px;
}

.advantages__item {
  border: 1px solid $border-color;
  border-left: 1px solid $orange;
  position: relative;
  padding: 39px 42px 64px 44px;
  background-color: $white;
  min-height: 300px;
}

.advantages__item:hover,
.advantages__item:focus {
  background-color: $orange;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
}

.advantages__wrapper svg {
  color: $blue;
}

.advantages__item:focus svg,
.advantages__item:hover svg,
.advantages__item:hover p,
.advantages__item:focus p,
.advantages__wrapper:hover svg,
.advantages__wrapper:focus svg {
  color: $white;
}

.advantages__title {
  margin-bottom: 0;
  margin-top: 20px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  color: $orange;
}

.advantages__text {
  font-size: 16px;
  line-height: 22px;
  color: $light-grey;
  margin-bottom: auto;
}

@media (max-width: $max-tablet-width) {
  .advantages-and-about {
    margin-top: 0;
    background-position: -209% 51%;
  }

  .advantages__inner {
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 38px;
  }

  .advantages__inner::before {
    display: none;
  }

  .advantages {
    margin-bottom: 42px;
  }

  .advantages__item {
    padding: 21px 22px 18px 25px;
    min-height: 232px;
  }

  .advantages__title {
    margin-top: 9px;
    margin-bottom: -6px;
  }
}

@media (max-width: $max-mobile-width) {
  .advantages {
    margin-bottom: 50px;
  }

  .advantages-and-about {
    margin-top: 0;
  }

  .advantages__inner {
    padding-top: 39px;
    padding-left: 12px;
    padding-right: 15px;
  }

  .advantages__list {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .advantages__title {
    font-size: 20px;
    line-height: 28px;
    margin-top: 6px;
    margin-bottom: -8px;
  }

  .advantages__item {
    min-height: 232px;
    padding: 28px 18px 26px 24px;
  }

  .advantages__wrapper svg {
    width: 30px;
    height: 34px;
  }

  .advantages__item:nth-child(2) {
    padding-right: 10px;
  }

  .advantages__item:nth-child(3) .advantages__text {
    margin-top: 21px;
  }

  .advantages__item:nth-child(4) .advantages__text {
    margin-top: 27px;
  }
}
