.footer {
  position: relative;
  bottom: 0;
  flex-shrink: 0;
}

.footer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid $bottom-border;
  opacity: 0.2;
  bottom: 40px;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 59px;
  padding-bottom: 65px;
  max-width: 700px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  align-items: center;
  max-width: 600px;
}

.social__list {
  list-style: none;
  display: grid;
  grid-template-columns: 27px 27px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 15px;
  max-height: 27px;
  position: relative;
  left: 41px;
  top: -14px;
}

.social__link svg {
  color: $social-icons;
}

.footer__logo svg {
  color: $orange;
}

.social__link svg:hover,
.social__link svg:focus {
  color: $black;
}

.social__date {
  display: none;
}

.footer__logo {
  //display: flex;
  padding-left: 27px;
}

.footer__logo-header,
.footer__logo-text {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__logowrapper {
  display: flex;
  margin-bottom: 45px;
}

.footer__logo-header {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  color: $black;
  font-size: 25px;
  line-height: 29px;
  padding-top: 5px;
}

.footer__logo-text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 500;
  color: $grey;
  font-size: 12px;
  line-height: 14px;
}

.footer__text-main {
  padding-left: 17px;
}

.footer__map {
  padding-top: 8px;
}

.map__title,
.contacts__title {
  margin-top: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $light-black;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.contacts__title {
  letter-spacing: 1px;
  padding-left: 23px;
}

.map__title {
  letter-spacing: 0.5px;
}

.map__lists {
  display: flex;
}

.map__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.map__list:not(:last-child) {
  padding-right: 55px;
}

.map__item a {
  color: $light-black;
}

.map__item a,
.contacts__text,
.contacts__link,
.copyright__text {
  opacity: 0.5;
}

.footer__contacts {
  padding-top: 7px;
}

.contacts__information a,
.contacts__text {
  color: $light-black;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__link {
  max-width: 175px;
}

.map__item a:hover,
.map__item a:focus,
.contacts__link:hover,
.contacts__link:focus {
  opacity: 0.9;
}

.contacts__information {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.footer__copyright {
  max-width: 1650px;
}

.copyright__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 14px;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1640px;
}

.copyright__item {
  margin-bottom: 0;
}

.copyright__item:nth-child(2) {
  padding-left: 5%;
}

.copyright__item:nth-child(4) {
  justify-self: end;
}

.copyright__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: $light-black;
}

.map__button--open,
.contacts__button--open {
  display: none;
}

.footer__border {
  display: none;
}

.map__button,
.contacts__button {
  display: none;
}

@media (max-width: $max-tablet-width) {
  .footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid $bottom-border;
    opacity: 0.2;
    top: 93px;
  }

  .footer::after {
    bottom: 45px;
  }

  .footer__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 95px 1fr;
    padding: 0 20px 24px;
    justify-items: unset;
  }

  .footer__social {
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-between;
    padding-top: 0;
    position: relative;
    max-width: 1920px;
  }

  .footer__map,
  .footer__contacts {
    padding-top: 38px;
  }

  .footer__map {
    padding-left: 12px;
  }

  .copyright__list {
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: 1fr 1fr;
    margin-top: 39px;
  }

  .footer__logowrapper {
    margin-bottom: 0;
  }

  .footer__logo {
    padding-left: 8px;
  }

  .social__list {
    padding-top: 0;
    left: 2px;
    top: -6px;
  }

  .social__date {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.5;
  }

  .social__date-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    opacity: 0.5;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .map__title,
  .contacts__title {
    letter-spacing: 1px;
  }

  .map__title {
    margin-bottom: 27px;
  }

  .map__lists {
    flex-direction: column;
  }

  .contacts__information {
    padding-left: 21px;
    letter-spacing: -0.5px;
  }

  .contacts__title {
    padding-left: 23px;
  }

  .copyright__item--hidden {
    display: none;
  }
}

@media (max-width: $max-mobile-width) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    overflow: hidden;
    padding: 35px 12px 24px;
  }

  .footer__social {
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
  }

  .footer__logo {
    padding-left: 0;
  }

  .footer__logowrapper {
    margin-bottom: 5px;
  }

  .social__date {
    margin-bottom: 25px;
  }

  .footer::before {
    top: 202px;
  }

  .footer::after {
    bottom: 180px;
  }

  .footer__map {
    margin-bottom: 18px;
    padding-left: 0;
    padding-top: 0;
  }

  .footer__contacts {
    padding-top: 0;
  }

  .map__title,
  .contacts__title {
    margin-bottom: 36px;
  }

  .contacts__title,
  .contacts__information {
    padding-left: 0;
  }

  .contacts__information {
    letter-spacing: 0;
  }

  .copyright__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 26px;
    padding-left: 0;
    padding-right: 0;
  }

  .copyright__item {
    margin-bottom: 30px;
  }

  .map__button--open,
  .contacts__button--open {
    display: block;
  }

  .map__title-and-buttons,
  .contacts__title-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .map__button,
  .contacts__button {
    border: none;
    background-color: inherit;
    display: block;
  }

  .lists__hidden {
    display: none;
  }

  .footer__copyright {
    position: relative;
  }

  .footer__border {
    display: block;
    border: 1px solid $bottom-border;
    opacity: 0.2;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 767px;
    top: -20px;
  }

  .social__list {
    left: -1px;
    top: -12px;
  }
}
