.form {
  background-color: $orange;
  overflow: hidden;
  background-image: url("../img/test.png");
  background-repeat: no-repeat;
  background-position: 11% -61px;
  background-size: 36vw;
}

.form__main {
  z-index: 1;
  position: relative;
  padding-right: 83px;
}

.form__inner {
  max-width: 1291px;
  display: flex;
  padding-top: 91px;
  padding-bottom: 111px;
  justify-content: flex-end;
  position: relative;
}

.form__image {
  width: 511px;
  height: 288px;
}

.form__main-data {
  max-width: 570px;
}

.form__main-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.form__main-data h3,
.form__main-data p {
  color: $white;
  margin-top: 0;
}

.form__main-data h3 {
  margin-bottom: 11px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
}

.form__main-data p {
  margin-bottom: 49px;
  font-size: 16px;
  line-height: 22px;
  padding-left: 5px;
}

.form__main-request {
  margin-bottom: 34px;
}

.form__main-data input,
.form__main-data textarea {
  background-color: $light-orange;
  border: none;
  color: $white;
}

.form__main-data textarea {
  resize: none;
  width: 570px;
  padding: 16px;
}

.form__main-information input {
  min-width: 270px;
  padding: 16px;
}

.form__main-data input:hover,
.form__main-data textarea:hover,
.form__main-data input:focus,
.form__main-data textarea:focus {
  border: 1px solid black;
}

.form__main-data input:hover,
.form__main-data input:focus {
  max-height: 50px;
}

.form__main-data textarea:hover,
.form__main-data textarea:focus {
  max-height: 158px;
}

.form__main-data input::placeholder,
.form__main-data textarea::placeholder {
  color: $white;
  font-size: 16px;
  line-height: 21px;
}

.form__main-data button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  text-transform: uppercase;
  background-color: inherit;
  border: 1px solid $white;
  border-radius: 10px;
  padding: 14px 87px;
  cursor: pointer;
}

.form__main-data button:hover,
.form__main-data button:focus {
  background-color: $white;
  color: $orange;
}

.form__main-lowerpart {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.form__main-checkbox-label {
  max-width: 250px;
  color: $white;
  display: flex;
  position: relative;
  min-height: 16px;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  left: 26px;
}

.form__main-checkbox {
  position: absolute;
  appearance: none;
  display: none;
}

.form__main-checkbox-text {
  position: absolute;
  width: 18px;
  height: 16px;
  left: -35px;
  top: 9px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
}

.form__main-checkbox:checked + .form__main-checkbox-text {
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
}

.form__main::before,
.form__main::after {
  position: absolute;
  background-repeat: no-repeat;
  z-index: 0;
  width: 298px;
  height: 298px;
}

.form__main::before {
  content: "";
  left: 673px;
  top: -50px;
  background-image: url("../img/form-polygon-left.svg");
  width: 262px;
  height: 262px;
}

.form__main::after {
  content: "";
  right: -265px;
  bottom: -78px;
  background-image: url("../img/form-polygon-right.svg");
  width: 436px;
  height: 373px;
}

.checkbox-toggle {
  opacity: 0.5;
}

@media (max-width: 1439px) {
  .form__main {
    padding-right: 35px;
  }

  .form {
    background-position: 3% 120px;
  }
}

@media (max-width: $max-tablet-width) {
  .form {
    background-position: 3% 120px;
    background-image: unset;
  }

  .form__inner {
    padding-top: 80px;
    padding-bottom: 104px;
    justify-content: center;
  }

  .form__main {
    padding-right: 0;
  }

  .form__image-wrapper,
  .form__inner::after,
  .form__inner::before {
    display: none;
  }

  .form__header {
    padding-left: 5px;
  }

  .form__wrapper {
    padding-left: 10px;
  }

  .form__main-data h3 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 17px;
  }

  .form__main-data p {
    margin-bottom: 51px;
  }

  .form__main-information {
    min-width: 589px;
  }

  .form__main-information input {
    min-width: 269px;
    padding: 16px;
  }

  .form__main-data textarea {
    width: 590px;
    padding: 16px;
  }

  .form__main-data {
    max-width: 590px;
  }

  .form__main-data button {
    padding: 14px 65px;
    min-width: 279px;
  }

  .form__main-request {
    margin-bottom: 45px;
  }

  .form__main::after {
    right: -395px;
  }

  .form__main-checkbox-text {
    left: -33px;
  }

  .form__main-checkbox-label {
    left: 19px;
  }
}

@media (max-width: $max-mobile-width) {
  .form__inner {
    padding-top: 30px;
    padding-bottom: 41px;
  }

  .form__main-data {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-right: 15px;
  }

  .form__header,
  .form__wrapper {
    padding-left: 0;
  }

  .form__main-information {
    min-width: 290px;
    flex-direction: column;
  }

  .form__main-information input {
    min-width: 100%;
    padding-left: 19px;
  }

  .form__main-data h3 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 13px;
  }

  .form__main-data p {
    margin-bottom: 25px;
  }

  .form__main-name,
  .form__main-information,
  .form__main-button {
    margin-bottom: 32px;
  }

  .form__main-request {
    margin-bottom: 24px;
  }

  .form__main-data textarea {
    width: 100%;
    max-height: 104px;
    padding-left: 19px;
  }

  .form__main-lowerpart {
    flex-direction: column-reverse;
  }

  .form__main-checkbox-text {
    left: -17px;
    top: 0;
  }

  .form__main-checkbox-label {
    padding-left: 19px;
    max-width: 767px;
  }

  .form__main-data textarea:hover {
    max-height: 104px;
  }
}
