.header {
  background-image: url("../img/start-bg.jpg");
  background-color: $grey;
}

.navigation {
  padding-top: 38px;
  padding-bottom: 80px;
}

.navigation__inner {
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
}

.navigation__logo-svg-mobile {
  display: none;
}

.navigation__logo-wrapper {
  display: flex;
  color: $orange;
  animation-name: animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.navigation__text-main {
  padding-left: 16px;
  padding-top: 7px;
}

.navigation__logo-text,
.navigation__logo-header {
  margin: 0;
}

.navigation__logo-header {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  color: $white;
  font-size: 25px;
  line-height: 29px;
}

.navigation__logo-text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 500;
  color: $grey;
  font-size: 12px;
  line-height: 14px;
}

.navigation__contacts {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  grid-gap: 70px;
}

.navigation__link {
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

.navigation__link-mail {
  max-width: 211px;
}

.navigation__link-tel {
  width: 160px;
}

.navigation__link-mail:hover,
.navigation__link-tel:hover,
.navigation__link-mail:focus,
.navigation__link-tel:focus {
  color: $orange;
}

.navigation__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  padding: 14px;
  background-color: inherit;
  border-color: $white;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid $white;
  text-align: center;
  min-width: 180px;
  letter-spacing: 1px;
}

.navigation__button:hover,
.navigation__button:focus {
  opacity: 0.5;
}

.navigation__link-tel::before,
.navigation__link-mail::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.navigation__link-tel::before {
  content: "";
  left: -40px;
  top: 0;
  width: 24px;
  height: 27px;
  background-image: url("../img/phone.svg");
}

.navigation__link-mail::before {
  content: "";
  left: -40px;
  top: 2px;
  width: 24px;
  height: 24px;
  background-image: url("../img/email.svg");
}

.navigation__contacts-tablet {
  display: none;
}

@media (max-width: $max-tablet-width) {
  .navigation {
    padding-top: 20px;
    padding-bottom: 0;
  }


  .navigation__inner {
    justify-content: space-between;
  }

  .navigation__contacts {
    display: none;
  }

  .navigation__contacts-tablet {
    display: block;
    padding-right: 11px;
    padding-top: 10px;
  }

  .navigation__contacts-tablet-mail svg,
  .navigation__contacts-tablet-phone svg {
    color: $orange;
  }

  .navigation__contacts-tablet-mail {
    padding-right: 20px;
  }

  .navigation__contacts-tablet-mail:hover,
  .navigation__contacts-tablet-mail:focus,
  .navigation__contacts-tablet-phone:hover,
  .navigation__contacts-tablet-phone:focus {
    opacity: 0.5;
  }

  .navigation__logo-wrapper {
    padding-left: 20px;
  }
}

@media (max-width: $max-mobile-width) {
  .navigation {
    padding-top: 12px;
    padding-bottom: 16px;
  }

  .navigation__logo-wrapper {
    padding-left: 5px;
  }

  .navigation__logo-svg {
    display: none;
  }

  .navigation__logo-svg-mobile {
    display: block;
  }

  .navigation__text-main {
    display: none;
  }

  .navigation__contacts-tablet {
    padding-right: 4px;
    padding-top: 5px;
  }

  .navigation__contacts-tablet-mail {
    padding-right: 17px;
  }

  .navigation__logo svg {
    width: 38px;
    height: 38px;
  }
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
