.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:link {
  color: $white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

body {
  font-family: "PTMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.include {
  display: none;
}

.main {
  flex-grow: 1;
}
