$white: #ffffff;
$black: #000000;
$blue: #00b2ff;
$grey: #788891;
$light-grey: #666666;
$border-color: #ebebeb;
$super-light-grey: #f2f2f2;
$light-black: #1b2d37;
$light-blue: #19baff;
$bottom-border: #626962;
$social-icons: #cdcdcd;
$orange: #ff951be3;
$light-orange: #ffb156;
$dark-orange: rgb(172, 114, 6);
